/* logo */

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

img.logo-img{
    width:50px;
    margin-right: -12px;
    margin-top: -10px;
}

span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}


/*toggle*/

.display{
    position: absolute !important;
    left: -500px !important;
}

.rot{
    transform: rotateY(180deg);
}

/* all */
div.all{
    display: flex;
}

/*navbar*/
div.navigationbar{
    width: 17%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    height: 650px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(207, 207, 207);
}

nav{
    width: 100%;
}

ul.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    justify-content: flex-start;
    gap: 2px;
    margin-left: -25px;
}

li.nav-item{
    display: flex;
    gap: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 7px 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

a.nav-link{
    width: 100%;
    font-size: 15px;
}



li.nav-item:hover{
    background-color: blue;
    transition: 0.3s;
}

a.nav-link:hover{
    color: white;
    transition: 0.3s;
    
}

/*bar de titre*/

div.main-title{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 10px;
}

div.main{
    width: 100%;
}

h4.main-title{
    color: #fff;
}

span.nbre-item{
    border-radius: 50%;
    padding: 2px 8px;
    background-color: #fff;
    color: green;
}


/* responsivité*/

@media (max-width : 1145px){
    div.navigationbar{
        display: none !important;
    }
}


@media (max-width : 750px){
    .main-title{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }
}