{% extends 'base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block main-title %} Tableau de bord {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
<div class="dash-container">
    <!-- Statistiques globales -->
    <div class="total">
        <a class="total-item" style="text-decoration: none;" href="{% url 'liste_categories' %}">
            <div class="total-logo">
                <i class="bi bi-collection"></i>
                <h5 class="text-dark">Catégories</h5>
            </div>
            <div class="item-content">
                <div class="h5"><h5 class="h5">{{ total_categories }}</h5></div>
            </div>
        </a>

        <a class="total-item" style="text-decoration: none;" href="{% url 'liste_produits' 0 %}">
            <div class="total-logo">
                <i class="bi bi-box-seam"></i>
                <h5 class="text-dark">Produits</h5>
            </div>
            <div class="item-content">
                
                <div class="h5"><h5 class="h5">{{ total_produits }}</h5></div>
            </div>
        </a>

        <div class="total-item">
            <div class="total-logo">
                <i class="bi bi-cart-check"></i>
                <h5 class="text-dark">Total Ventes</h5>
            </div>
            <div class="item-content">
                
                <div class="h5"><h5 class="h5">{{ total_ventes }}</h5></div>
            </div>
        </div>

        <div class="total-item">
            <div class="total-logo">
                <i class="bi bi-currency-dollar"></i>
                <h5 class="text-dark">Chiffre d'affaires</h5>
            </div>
            <div class="item-content">
                
                <div class="h5"><h5 class="h5" style="font-size: 15px;">{{ chiffre_affaires }} FCFA</h5></div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Graphique des ventes -->
    <div class="stats">
        <h3>Évolution des ventes</h3>
        <canvas id="salesChart"></canvas>
    </div>

    <hr>

    <!-- Dernières ventes -->
    <h3>Trois meilleures ventes</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Total FCFA</th>
                <th>Client</th>
            </tr>
        </thead>
        <tbody>
            {% for vente in meilleures_ventes %}
            <tr>
                <td>{{ vente.dateVente }}</td>
                <td>{{ vente.prixtTotal }} </td>
                <td>{{ vente.nomClient }} {{vente.prenomClient}} 
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Aucune vente récente</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    var ctx = document.getElementById('salesChart').getContext('2d');
    var salesChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: 2,
            datasets: [{
                label: 'Chiffre d\'affaires',
                data: "{{ chiffres_ventes|safe }}",
                borderColor: 'blue',
                borderWidth: 2
            }]
        }
    });
</script>

{% endblock %}
