<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} ajouter un produit {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/produits.css' %}">
    
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %} ajouter un produit {% endblock %}

<!--contenu de la page-->
{% block body %}
<div class="container mt-4">
    <div class="card shadow p-4">
        <h2 class="text-primary">Ajouter un produit</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ produitForm.nomProduit.label_tag }}
                {{ produitForm.nomProduit }}
                {% if produitForm.nomProduit.errors %}
                    <p class="error">{{produitForm.nomProduit.errors.0}}</p>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ produitForm.categorie.label_tag }}
                {{ produitForm.categorie }}
            </div>
            <div class="mb-3">
                {{ produitForm.imageProduit.label_tag }}
                {{ produitForm.imageProduit }}
            </div>
            <div class="mb-3">
                {{ produitForm.description.label_tag }}
                {{ produitForm.description }}
            </div>
            <div class="mb-3">
                {{ produitForm.quantite.label_tag }}
                {{ produitForm.quantite }}
                {% if produitForm.quantite.errors %}
                    <p class="error">{{produitForm.quantite.errors.0}}</p>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ produitForm.prixUnitaire.label_tag }}
                {{ produitForm.prixUnitaire }}
                {% if produitForm.prixUnitaire.errors %}
                    <p class="error">{{produitForm.prixUnitaire.errors.0}}</p>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-success">Ajouter</button>
        </form>
    </div>
</div>


{% endblock %}