<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} détails  {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/produits.css' %}">
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %} détails du produit {{produit.nomProduit}} {% endblock %}

<!--Main content-->
{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}" id="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<div class="detail-container">
    <div class="detail-titre">
        <div class="detail-titre1">
            <h4>Nom: </h4><h5>{{produit.nomProduit}}</h5>
        </div>
        <div class="detail-titre1">
            <h4>Catégorie: </h4><h5>{{produit.categorie.nomCategorie}}</h5>
        </div>
    </div>
    
    
    <img  class="produit-image img-fluid" src="{{ produit.imageProduit.url }}" alt="" >
    <div class="detail-desc">
        <div class="detail-desc-item">
            <h5>Description</h5><p>{{produit.description}}</p>
        </div>
        <div class="detail-desc-item">
            <h5>Dernière Mise à jour</h5><p>{{produit.dateAjout}}</p>
        </div>
        <div class="detail-desc-item">
            <h5>Quantité en stock </h5><p>{{produit.quantite}}</p>
        </div>
        <div class="detail-desc-item">
            <h5>Prix Unitaire </h5><p>{{produit.prixUnitaire}} FCFA</p>
        </div>
    </div>
    
    <div class="detail-action">
        <a href="{% url 'selectionner' produit.id %}" class="btn btn-primary">Ajouter au panier</a>
        <a href="{% url 'modifier_produit' produit.id %}" class="btn btn-secondary">Modifier</a>
        <a href="{% url 'delete_produit' produit.id %}" class="btn btn-danger" onclick="return confirm('êtes vous sûr de vouloir supprimer cet élément?')">Supprimer</a>
    </div>
    <form action="{% url 'add_quantite' produit.id %}" method="post" class="">
        {% csrf_token %}
        <label for="quantite" >ajouter en quantité</label>
        <input type="number" name="quantite" id="quantite" class="form-control">
        <button class="btn btn-outline-primary" type="submit">ajouter</button>
    </form>
</div>
{% endblock %}