<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} liste des catégories {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %} panier {% endblock %}

<!--Main content-->
{% block body %}
<div class="conteneur">

    <!--formulaire-->
    <form action="" method="post" class="add-form">
        {% csrf_token %}
        <div class="field">

            <div class="filed-item">
                {{form.nomClient.label_tag}}
                {{form.nomClient}}
            </div>
        </div>

        <div class="field">
             <div class="filed-item">
                {{form.prenomClient.label_tag}}
                {{form.prenomClient}}
            </div>
        </div>

        <div class="field">
            <div class="filed-item">
                {{form.adresseClient.label_tag}}
                {{form.adresseClient}}
            </div>
        </div>
        <div class="field">
            <div class="filed-item">
                {{form.telephone.label_tag}}
                {{form.telephone}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Suivant</button>
    </form>
</div>
{% endblock %}