<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} facture {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/panier.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %}  facture {% endblock %}

<!--Main content-->

{% block body %}

<!--méssages-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}" id="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

    <div class="container-fluid">
       <div class="facture-containt" id="facture">
        <div class="entete">
            <div class="logo">
                <img class="logo-img" src="{% static 'logo.png' %}" alt=""><h3><span>Smart</span>Shop</h3>
            </div>
            <div class="titre">
                <h5>FACTURE N° {{facture.numeroFacture}}</h5>
                <h5>Date: {{facture.dateFacture}}</h5>
            </div>
            <div class="client">
                <table class="table">
                    <tr>
                        <td>Nom et prénom du client:</td>
                        <td>{{facture.client.prenomClient}} {{facture.client.prenomClient}}</td>
                    </tr>

                    <tr>
                        <td>Adresse:</td>
                        <td>{{facture.client.adresse}}</td>
                    </tr>

                    <tr>
                        <td>Téléphone:</td>
                        <td>{{facture.client.telephone}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="corps">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-secondary">
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire (FCFA)</th>
                        <th>Prix d'achat (FCFA)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for achat in achats %}
                    <tr>
                        <td>{{ achat.produit.nomProduit }}</td>
                        <td>{{ achat.quantite }}</td>
                        <td>{{ achat.produit.prixUnitaire }}</td>
                        <td>{{ achat.prixAchat }}</td>
                    </tr>
                    {% endfor %}
                    <tr >
                        <td colspan="" class="total">
                            <h6>Total</h6>
                            <h6>{{facture.prixTotal}} FCFA</h6>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
       </div>

       <button class="btn mb-5"  onclick="imprimer('{{vente.nomClient}}_'+'{{achat.facture.numeroFacture}}')" style="background-color: yellow;"><i class="bi bi-printer-fill"></i><span>  </span>Imprimer</button>
    </div>
{% endblock %}