<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} panier {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/produits.css' %}">
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %}  Panier {% endblock %}

<!--Main content-->

{% block body %}

<!--méssages-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}" id="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<table class="table table-bordered mt-4" style="padding: 10px 20px;">
    <tr class="table-secondary">
        <th colspan="2" class="text-center">ID: {{panier.id}}</th>
        <th colspan="3" class="text-center">CLIENT: {% if panier.client.nomClient %}
                        {{panier.client.nomClient}} {{panier.client.prenomClient}}
                    {% else %}
                        Anonyme
                    {% endif %}
         </th>
    </tr>
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix Unitaire (FCFA)</th>
        <th>Total (FCFA)</th>
        <th>Action</th>
    </tr>
    {% for achat in achats %}
    <tr>
        <td>{{ achat.produit.nomProduit }}</td>
        <td>{{ achat.quantite }}</td>
        <td>{{ achat.produit.prixUnitaire }} </td>
        <td>{{ achat.prixAchat }} </td>
        <td>
            {% if panier.statut == "en cours" %}
                <a href="{% url 'supprimer_achat' achat.id panier.id %}" class="btn btn-warning btn-sm" onclick="return confirm('êtes-vous sûr de vouloir retirer ce produit du panier ?')">Retirer</>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" class="text-center text-warning">Aucun produit ajouté</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5" class="text-center">Statut : <span style="padding: 5px 5px; border-radius: 5px; background-color: yellow; font-weight: bold; font-style: italic;">{{panier.statut}}</span></td>
    </tr>
</table>
<p><strong>Total des achats : {{ total }} F CFA</strong></p>

<div class="action">
    
    {% if achats %}
        {% if panier.statut == "validé" %}
             <a href="{% url 'facture' panier.id %}" class="btn btn-primary">Voir la facture</a>
             <a href="{% url 'delete_panier' panier.id %}" class="btn btn-danger" onclick="return confirm('êtes vous sûr de vouloir supprimer ce panier?')">Supprimer</a>
        {% else %}
            <a href="{% url 'liste_produits' %}" class="btn btn-primary">Ajouter un produit</a>
            <a href="{% url 'valider_panier' panier.id  %}" class="btn btn-warning" onclick="return confirm('êtes vous sûr de vouloir valider ce panier?')">valider</a> 
        {% endif %}
    {% else %}
        <a href="{% url 'liste_produits' %}" class="btn btn-primary">Ajouter un produit</a>
    {% endif %}
    
    </div>


{% endblock %}
