<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} détails  {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %} détails de la catégorie {{categorie.nomCategorie}} {% endblock %}

<!--Main content-->
{% block body %}
<div class="detail-container">
    <div class="detail-titre">
        <h5 class="text-dark">Titre: </h5><h5 class="text-dark">{{categorie.nomCategorie}}</h5>
    </div>
    
    
    <img  class="categorie-image img-fluid" src="{{ categorie.imageCategorie.url }}" alt="" >
    <div class="detail-desc">
        <h5 class="text-primary">Description</h5><p>{{categorie.description}}</p>
        <h5 class="text-primary">Dernière Mise à jour</h5><p>{{categorie.dateAjout}}</p>
        <h5 class="text-primary">Nombre d'articles </h5><p>{{categorie.nbreProduit}}</p>
        
    </div>
    
    <di class="detail-action">
        <a href="{% url 'modifier_categorie' categorie.id %}" class="btn btn-secondary">Modifier</a>
        <a href="{% url 'delete_categorie' categorie.id%}" class="btn btn-danger" onclick="return confirm('êtes vous sûr de vouloir supprimer cet élément?')">Supprimer</a>
        <a href="{% url 'categorie_produit' categorie.id %}" class="btn btn-success">Listes des articles</a>
        <a href="{% url 'ajout_produit' %}" class="btn btn-primary">Ajouter un produit</a>
    </div>
</div>
{% endblock %}