<!--hérite de base.html-->
{% extends 'base.html' %}

{% load static %}
<!--titre de la page-->
{% block title %} liste des catégories {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}
<!--titre de la bar d'entete-->
{% block main-title %} liste des catégories {% endblock %}

<!--Main content-->
{% block body %}
    <div class="list-container">

        <!--formulaire de filtrage-->
        <div class="filter">
            <form action="{% url 'liste_categories' %}" method="get" class="filter-form">
                {% csrf_token %}
                <input type="text" id="filter" name="nom" class="form-control" placeholder="filtrer par nom">
                <button type="submit" class="submit"><i class="bi bi-search"></i></button>
            </form>

            <!--méssages-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!--liste des catégories par carte-->
       <div class="list">
            {% for categorie in categories %}
            <div class="card">
                <img src="{{categorie.imageCategorie.url}}" alt="" class="card-ing-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{categorie.nomCategorie}}</h5>
                    <p class="card-text">{{categorie.description}}</p>
                    <div class="action">
                        <a href="{% url 'categorie_produit' categorie.id %}" class="btn btn-success btn-sm">{{categorie.nbreProduit}} Articles</a>
                        <a href="{% url 'details_categorie' categorie.id %}" class="btn btn-primary btn-sm">Détails</a>
                        <a href="{% url 'modifier_categorie' categorie.id %}" class="btn btn-secondary btn-sm">Modifier</a>
                        <a href="{% url 'delete_categorie' categorie.id %}" class="btn btn-danger btn-sm" onclick="return confirm('êtes vous sûr de vouloir supprimer cet élément?')">Supprimer</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-warning">Aucune catégorie trouvée</p>
            {% endfor %}
       </div>
    </div>
{% endblock %}